body {
    background-color: black;
    color: whitesmoke;
    margin: 0;
}

header {
    background-color: white;
    color: black;
    background: url(../images/breakingBad.jpg);
    background-size: 100%;
    height: 400px;
    padding-bottom: 100px;

    
    
}

nav a {
    color: black;
    color: whitesmoke;
    display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-end;
  align-content: normal;
}

img {
    width: 300px;
    height: auto;
}

p {
    
    font-size: x-large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 0px;
    text-align: center;
}

h1 {
    text-align: center;
    display: flex;

    font-size: 1em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: whitesmoke;
    margin-top: 0px;
    margin-bottom: 0;
}

.API2 div {
    
    width: 300px;
    height: 500px;
    background-color: rgba(29, 29, 29, 1);
    
    
}

div {
    
    display: flex;
    flex-wrap: wrap;
    margin-top: 2em;
    margin-left: 2em;
    justify-content: space-around;
    margin: 2em;
}


/*.flex-container {
    
  }
  
  .flex-items:nth-child(1) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
  }*/

  .fotorama {
    margin: 0px;
  }

#menudiv {
    margin: 0px;
}